<div class="apiResponseContainer">
  <div class="mt-4 mb-4" *ngFor="let word of searchWord">
    <h2 class="text-white">
      <span class="text-black">Word:</span> {{ word.word | uppercase }}
    </h2>
    <div>
      <!-- <div *ngFor="let phonetic of word.phonetics">
        <p class="text-white">
          <span class="text-black">phonetic: </span>{{ phonetic.text }}
        </p>
      </div> -->
      <div>
        <p class="text-black">phonetic:</p>
        <ul *ngFor="let phonetic of word.phonetics">
          <li class="text-white">{{ phonetic.text }}</li>
        </ul>
      </div>
      <div *ngFor="let meanings of word.meanings">
        <p class="text-black">
          {{ meanings.partOfSpeech }}
        </p>

        <ul class="text-white" *ngFor="let meaning of meanings.definitions">
          <li>
            {{ meaning.definition }}
          </li>
        </ul>
      </div>
      <div *ngFor="let source of word.sourceUrls">
        <p class="text-white">
          <span class="text-black">source: </span>{{ source }}
        </p>
      </div>
      <div>
        {{ word.license.name }}
      </div>
    </div>
  </div>
</div>
